@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  color: #2B3039;
  background: #E5E5E5;
  font-family: OpenSans, Arial, sans-serif;
  height: 100%;
}

main {
  height: 99.9vh;
}